<div class="app-content">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <mat-form-field appearance="legacy">
          <mat-label>Search for jokes</mat-label>
          <input matInput formControlName="searchInput">
        </mat-form-field>
        <a mat-button class="app-button"(click)="onSubmit(form.value)" mat-raised-button color="warm">
            <mat-icon matSuffix>search</mat-icon>
        </a>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<div class="app-content" *ngIf="response.shortJokes.length > 0">
  <mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
          <h2 class="example-h2">Short Jokes ({{response.shortJokes.length}})</h2>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
        <div *ngFor="let joke of response.shortJokes">
          <mat-list-item><p [innerHTML]="highlight(joke.joke, response.term)"></p></mat-list-item>
          <mat-divider></mat-divider>
        </div>
    </mat-list>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
          <h2 class="example-h2">Medium Jokes ({{response.mediumJokes.length}})</h2>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
        <div *ngFor="let joke of response.mediumJokes">
          <mat-list-item><p [innerHTML]="highlight(joke.joke, response.term)"></p></mat-list-item>
          <mat-divider></mat-divider>
        </div>
    </mat-list>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
          <h2 class="example-h2">Long Jokes ({{response.longJokes.length}})</h2>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
        <div *ngFor="let joke of response.longJokes">
          <mat-list-item><p [innerHTML]="highlight(joke.joke, response.term)"></p></mat-list-item>
          <mat-divider></mat-divider>
        </div>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
</div>