<div class="app-content">
<mat-card>
    <mat-card-content>
      <h2 class="example-h2">Random Dad Joke (every 10 seconds - Client timer):</h2>
      <mat-card>
        <mat-card-content>
          {{response.joke}}
        </mat-card-content>
      </mat-card>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-content>
        <h2 class="example-h2">Random Dad Joke (every 10 seconds - SignalR):</h2>
        <mat-card>
          <mat-card-content>{{joke.joke}}</mat-card-content>
        </mat-card>
      </mat-card-content>
</mat-card>
</div>